ion-chip{
     width: 100% !important;
     text-align: center !important;
     padding: 10px !important;
}

ion-card{
     box-shadow: none !important;
}

.containerfie{
     width: 100% !important;
}